*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgb(35, 34, 34);
    border: 4px solid black;
    margin: 0,5%;
}

.blue{      /*div*/
    width: 10%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid rgb(35, 34, 34) ;
    border-radius: 7px;
    margin-top: 1%;
    margin-left: 1%;
}
.Blue{   /*texte*/
    height: 52px;
    width: 150px;
    font-size: 150%;
    background-color: rgb(35, 34, 34);
    color: white;
    text-align: center;
    padding-top: 4%;
    font-family: roboto;
    border: 2px solid white;
    border-radius: 7px;
}
.Blue:hover{  /*chgmt couleur survol*/
    color: rgb(177, 177, 177);
}

.want{      /*div*/
    width: 5%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid white ;
    border-radius: 7px;
    margin-top: -3%;
    margin-left: 12%;
}
.Want{   /*texte*/
    font-size: 150%;
    color: white;
    text-align: center;
    padding-top: 4%;
    font-family: roboto
}
.Want:hover{  /*chgmt couleur survol*/
    color: rgb(177, 177, 177);
}


.communauté{   /*div*/
    width: 15%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid white ;
    border-radius: 7px;
    margin-top: -3%;
    margin-left: 19%;
}
.Communauté{   /*texte*/
    font-size: 150%;
    color: white;
    text-align: center;
    padding-top: 4%;
    font-family: roboto
}
.Communauté:hover{  /*chgmt couleur survol*/
    color: rgb(177, 177, 177);
}

.rechercher{  /*div*/
    width: 40%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid rgb(35, 34, 34) ;
    border-radius: 7px;
    margin-top: -3%;
    margin-left: 36%;
}

.BarreDeRecherche{
    width: 100%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    font-size: 100%;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin-top: 0,5%;
    padding-left: 2%;
}

.services{   /*div*/
    width: 15%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid white ;
    border-radius: 7px;
    margin-top: -3%;
    margin-left: 78%;
}
.Services{   /*texte*/
    font-size: 150%;
    color: white;
    text-align: center;
    padding-top: 4%;
    font-family: roboto
}
.Services:hover{  /*chgmt couleur survol*/
    color: rgb(177, 177, 177);
}

.profil{   /*image/div*/
    width: 4%;
    height: 75%;
    background-color: white;
    border: 3px solid white;
    margin-left: 95%;
    margin-top: -3.5%;
    border-radius: 80%;
    background-image: url(pdp.jpg);
    background-size: cover
}

.présentation{
    width:100%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border: 4px solid black;
    margin: 0,5%;
}
.titre{  /*div*/
    width: 100%;
    height: 80px;
    background-color: black;
    border: 2px solid black ;
    border-radius: 7px;
    margin-top: 8%;
}
.StageCards{   /*texte*/
    font-size: 350%;
    color: white;
    text-align: center;
    font-family: roboto
}
.soustitre{   /*div*/
    width: 100%;
    height: 80px;
    background-color: black;
    border: 2px solid black ;
    border-radius: 7px;
}
.AchetezVendezÉchangez{   /*texte*/
    font-size: 250%;
    color: white;
    text-align: center;
    font-family: roboto
}


.blocs{   
    background-color:  rgb(177, 177, 177);
    border: 4px solid  rgb(35, 34, 34);
}

.bloc1{
    width: 98%;
    height: 400px;
    background-color: whitesmoke;
    border: 4px solid black;    
    margin: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.t1{
    width: 20%;
    height: 100px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    margin-top: 10%;
}
.Ventes{    /*texte*/
    font-size: 300%;
    color: black;
    font-family: roboto
}
.i1{
    width: 18%;
    height: 355px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    margin-top: 1%;
}
.i2{
    width: 18%;
    height: 355px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    margin-top: 1%;
}
.i3{
    width: 18%;
    height: 355px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    margin-top: 1%;
}



.bloc2{ 
    width: 98%;
    height: 400px;
    background-color: whitesmoke;
    border: 4px solid black;    
    margin: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.t2{
    width: 20%;
    height: 100px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    margin-top: 10%;
}
.Reventes{   /*texte*/
    font-size: 300%;
    color: black;
    font-family: roboto
}
.i4{
    width: 18%;
    height: 355px;
    background-color: white;
    border: 2px solid black ;
    margin-top: 1%;
}
.i5{
    width: 18%;
    height: 355px;
    background-color: white;
    border: 2px solid black ;
    margin-top: 1%;
}
.i6{
    width: 18%;
    height: 355px;
    background-color: white;
    border: 2px solid black ;
    margin-top: 1%;
}



.bloc3{
    width: 98%;
    height: 400px;
    background-color: whitesmoke;
    border: 4px solid black;    
    margin: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.t3{
     width: 20%;
    height: 100px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    margin-top: 10%;
}
.Échanges{    /*texte*/
    font-size: 300%;
    color: black;
    font-family: roboto
}
.i7{
    width: 18%;
    height: 355px;
    background-color: white;
    border: 2px solid black ;
    margin-top: 1%;
}
.i8{
    width: 18%;
    height: 355px;
    background-color: white;
    border: 2px solid black ;
    margin-top: 1%;
}
.i9{
    width: 18%;
    height: 355px;
    background-color: white;
    border: 2px solid black ;
    margin-top: 1%;
}



.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(35, 34, 34);
    border: 4px solid rgb(35, 34, 34);    
    margin: 0,5%;
}

.contact{   /*div*/
    width: 40%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid rgb(35, 34, 34) ;
    border-radius: 7px;
    margin-top: 1%;
    margin-left: 3%;
}
.Contact{   /*texte*/
    font-size: 150%;
    color: white;
    text-align: left;
    text-decoration: underline;
}
.Contact:hover{  /*chgmt couleur survol*/
    color: rgb(177, 177, 177);
}

.mentions{    /*div*/
    width: 40%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid rgb(35, 34, 34) ;
    border-radius: 7px;
    margin-top: 1%;
    margin-left: 3%;
}
.Mentions{   /*texte*/
    font-size: 150%;
    color: white;
    text-align: left;
    text-decoration: underline;
}
.Mentions:hover{  /*chgmt couleur survol*/
    color: rgb(177, 177, 177);
}

.sav{    /*div*/
    width: 40%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid rgb(35, 34, 34) ;
    border-radius: 7px;
    margin-top: 1%;
    margin-left: 3%;
}
.SAV{   /*texte*/
    font-size: 150%;
    color: white;
    text-align: left;
    text-decoration: underline;
}
.SAV:hover{  /*chgmt couleur survol*/
    color: rgb(177, 177, 177);
}

.lien{   /*div*/
    width: 40%;
    height: 50px;
    background-color: rgb(35, 34, 34);
    border: 2px solid rgb(35, 34, 34) ;
    border-radius: 7px;
    margin-top: 1%;
    margin-left: 3%;
}
.Lien{  /*texte*/
    font-size: 150%;
    color: white;
    text-align: left;
    text-decoration: underline;
}
.Lien:hover{  /*chgmt couleur survol*/
    color: rgb(177, 177, 177);
}




/*bluemode*/
.bluemode{
    background-color: blue;
    color: aqua;
}

/* Tous les titres deviennent bleus */
.bluemode h1, 
.bluemode h2, 
.bluemode p, 
.bluemode a {
    color: #5784c2;
}

/* Header et footer en version bleue */
.bluemode .header,
.bluemode .footer {
    background-color: rgb(61, 61, 243);
    border-color: rgb(61, 61, 243)
}

/*div header deviennent bleues*/
.bluemode .want,
.bluemode .communauté,
.bluemode .services{
    background-color: rgb(61, 61, 243);
}

.bluemode .blue,
.bluemode .rechercher{
    background-color: rgb(61, 61, 243);
    border-color: rgb(61, 61, 243);
}

.bluemode .BarreDeRecherche{
    background-color: rgb(61, 61, 243);
}



/*div ds footer en version bleue*/
.bluemode .contact,
.bluemode .mentions,
.bluemode .sav,
.bluemode .lien {
    background-color: rgb(61, 61, 243);
    border-color: rgb(61, 61, 243);
}

/*div présentation deviennet bleues*/
.bluemode .présentation,
.bluemode .titre,
.bluemode .soustitre{
    background-color: #152862;
    border-color: #152862;
}


/*div blocs dvient bleue*/
.bluemode .blocs{
    background-color: #57648a;
    border-color: #57648a;
}


/* Blocs blancs deviennent bleu clair */
.bluemode .bloc1,
.bluemode .bloc2,
.bluemode .bloc3 {
    background-color: rgb(203, 206, 244);
    border-color: rgb(203, 206, 244);
}

/*tx blancs deviennent bleu clair*/
.bluemode .t1,
.bluemode .t2,
.bluemode .t3 {
    background-color: rgb(203, 206, 244);
    border-color: rgb(203, 206, 244);
}

/*div img deviennent bleu clair*/
.bluemode .i1,
.bluemode .i2,
.bluemode .i3,
.bluemode .i4,
.bluemode .i5,
.bluemode .i6,
.bluemode .i7,
.bluemode .i8,
.bluemode .i9 {
    background-color: rgb(203, 206, 244);
    border-color: rgb(203, 206, 244);
}

/* Bouton en mode bleu */
.bluemode .Blue {
    background-color: rgb(61, 61, 243);
    border-color: white;
    color: #5784c2;
}

button{
    cursor: pointer;
}







.header {
    position: relative;  /* nécessaire pour que les tabs en absolute se placent par rapport au header */
    overflow: visible;   /* permet aux tabs de dépasser le header */
}

/* parent relatif pour que la tab se positionne correctement */
.want, .services, .profil {
    position: relative;
}

/* style de la tab */
.tab {
    visibility: hidden;           /* cachée par défaut */
    background-color: rgb(61, 61, 243);
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px;
    position: absolute;           /* pour se positionner au-dessus des autres éléments */
    top: 100%;                    /* juste en dessous du parent */
    left: 0;
    width: max-content;           /* s’adapte au contenu */
    z-index: 10;                  /* au-dessus des autres éléments */
}

/* fait apparaître la tab au survol du parent */
.want:hover .tab,
.services:hover .tab,
.profil:hover .tab {
    visibility: visible;
}
